{{ define "main" }}
{{ $pages := partial "posts-sorted.html" (dict "Pages" .Pages) }}
<article class="sakura-page sakura-taxonomy-page">
  {{- partial "page-header.html" . -}}
  <div class="sakura-page-content">
    <div class="sakura-section-divider">
      <span class="iconify sakura-section-divider__icon" data-icon="fa6-solid:water"></span>
      <span class="sakura-section-divider__text">本分类共 {{ len .Pages }} 篇文章</span>
    </div>
    <div class="sakura-post-list">
      <div class="post-list-container post-list-container--cards">
        {{ range $index, $page := $pages }}
        {{- partial "post-card.html" (dict "Page" $page "Site" $.Site "Index" $index) -}}
        {{ end }}
      </div>
    </div>
  </div>
</article>
{{ end }}